@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: rgb(240, 218, 221);
}

header {
    background-color: pink;

    h1 {
        padding: 10px;
        text-align: center;
        color: white;
    }

    #burguer {
        background-color: rgb(138, 2, 24);
        display: block;
        color: white;
        text-align: center;
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: rgb(201, 55, 80);
            color: thistle;
        }
    }

    menu {
        display: block;

        ul {
            list-style-type: none;
        }

        a {
            display: block;
            padding: 10px;
            text-decoration: none;
            background-color: rgb(214, 89, 110);
            text-align: center;
            color: white;
            border-top: 2px solid rgb(192, 75, 94);

            &:hover {
                background-color: rgb(236, 107, 130);
            }
        }
    }
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    
    article {
        
        h2 {
            padding-bottom: 20px;
        }

        p {
            text-align: justify;
            margin-bottom: 20px;
            text-indent: 20px;
        }
    }
}